@import "tailwindcss";

/* Import DM Sans Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Apply DM Sans as default font */
* {
  font-family: 'DM Sans', sans-serif;
}

/* Custom color variables */
:root {
  --color-primary: #007ee1;
  --color-error: #bc738c;
  --color-background: #f3f7fa;
}